<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Jamb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <applicationSettings>
        <Jamb.Properties.Settings>
            <setting name="LogFolder" serializeAs="String">
                <value>logs</value>
            </setting>
            <setting name="LogWrittingPeriod" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="LogFileNameFormat" serializeAs="String">
                <value>{0:yyyy-MM-dd}_{0:H-mm-ss.fff}.log</value>
            </setting>
            <setting name="CrashFileNameFormat" serializeAs="String">
                <value>crash_{0:yyyy-MM-dd}_{0:H-mm-ss}.log</value>
            </setting>
            <setting name="CommunicationMaxMessageSizeInB" serializeAs="String">
                <value>10240</value>
            </setting>
            <setting name="CommunicationBackoffInMs" serializeAs="String">
                <value>500</value>
            </setting>
        </Jamb.Properties.Settings>
    </applicationSettings>
</configuration>
